@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
}

html {
  height: 75vh;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

main {
  width: 100%;
  height: fit-content;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 20rem;
  background-color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}