.adminNav {
	width: 75%;
	background-color: #1d3557;
	color: white;
	text-decoration: none;
}

.adminList {
	display: flex;
	justify-content: center;
	gap: 5rem;
	list-style: none;
}

.adminList a {
	text-decoration: none;
	color: white
}

.adminList a.highlighNav {
	text-decoration: none;
	color: yellow;
}