.header {
  background-color: #dad7cd;
  padding: 1rem 2rem 2rem 2rem;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 4rem;
  font-weight: bold;
}

.header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoSubtext {
  padding-left: 2rem;
  margin: 0;
  color:black;
}

.logoSubtext:hover {
  color:#1d3557;
}

.header a{
  text-decoration: none;
  color: #1d3557;
}

.header a:hover {
  color: #2a9d8f;
}

.navLinkBar {
  list-style: none;
  display: flex;
  flex-direction: row;
  border: 15%;
  gap: 3rem;
  justify-content: center;
  align-items: center;

}

.navLinkBar a,
.navLinkBar p {
  color: #1d3557;
  border-radius: 10%;
  padding: 0.5rem;
  background-color: #98cfe9;
  box-shadow: 2px 2px 2px 2px rgba(36, 122, 202, 0.1);
}

.navLinkBar a:hover {
  color: #83c5be;
  background-color: #1d3557;
}

.logoutBtnDiv {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.logoutBtnDiv Button,
.logoutBtnDiv a {
  background-color: #dad7cd;
  border: none;
  color:#14213d;
}

.logoutBtnDiv Button:hover,
.logoutBtnDiv a:hover{
  background-color: #fcbf49; 
  color:#14213d;
  transition: center ease-in-out 2s;
}

.logoImage {
  height: 100px;
  width: 300px;
  background-image: url(./../../../public/intents_logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0;
  display: flex;
  align-items: end;
  justify-content: end;
}