.header {
  background-color: #dad7cd;
  padding: 1rem 2rem 2rem 2rem;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 4rem;
}

.header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoSubtext {
  padding-left: 2rem;
  margin: 0;
  color:black
}

.logoSubtext:hover {
  color:#1d3557;
}

.header a{
  text-decoration: none;
  color: #1d3557;
}

.header a:hover {
  color: #2a9d8f;
}

.navLinkBar {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.navLinkBar a,
.navLinkBar p {
  color: #1d3557;
  border-radius: 10%;
  padding: 1rem;
  background-color: #83c5be;
}

.navLinkBar a:hover {
  color: #83c5be;
  background-color: #1d3557;
}

.logoutBtnDiv {
  padding-top: 1rem;
}

.logoutBtnDiv Button {
  background-color: #dad7cd;
  border: none;
  color:#14213d;
}

.logoutBtnDiv Button:hover {
  background-color: #fcbf49; 
  color:#14213d;
}

.logoImage {
  height: 100px;
  width: 300px;
  background-image: url(./../../../public/intents_logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0;
  display: flex;
  align-items: end;
  justify-content: end;
}