
.transactionRow {
border: 1px solid black;
padding: 8px;
}

.transactionRow tr:nth-child(odd) {
  background-color: lightgray;
}

.transactionRow tr:nth-child(even) {
  background-color: gray;
}

.transactionRow tr:hover {
  background-color: white;
}