.adminSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summaryContDiv {
  width: 75%;
  display: flex;
  justify-content:space-around;
  margin-top: 3rem;
}

.savedDataDiv {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.userListDiv {
  display: flex;
  flex: auto;
  gap: 3rem;
}

.usernameDiv {
  width: 50%;
}

.userSubDiv {
  text-align: center;
}

.iconBtnDiv {
  display: flex;
}