.enterCodeForm {
  height: 400px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 0.5rem;
  gap: 0.5rem;
  width: 100%;
}

.inputWrapper label {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

.labelWrapper {
  padding: 1.5rem;
}

.clearWrapper {
  padding: 0.5rem;
}

.codeInput {
  font-size: 2rem;
  text-align: center;
}

.submitBtn {
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100px;
}

.submitBtn:hover {
  cursor: pointer;
}

/* errorP {
  font-size: 1rem;
  color: darkred;
  padding: 0;
  margin: 0;
} */